[submodule "fairseq-waitk/fairseq"]
	path = fairseq-waitk/fairseq
	url = https://github.com/pytorch/fairseq.git
[submodule "fairseq-mma-il/fairseq"]
	path = fairseq-mma-il/fairseq
	url = https://github.com/pytorch/fairseq.git
[submodule "SimulEval"]
	path = SimulEval
	url = https://github.com/facebookresearch/SimulEval
